.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.971219;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.963867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.971232;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-4.247184px;}
._1{margin-left:-1.436981px;}
._0{width:1.008378px;}
._2{width:3.026504px;}
._4{width:75.004560px;}
._5{width:81.163491px;}
.fc1{color:rgb(71,144,153);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:31.993853px;}
.fs3{font-size:35.650293px;}
.fs5{font-size:40.220843px;}
.fs1{font-size:48.447834px;}
.fs4{font-size:55.760714px;}
.fs0{font-size:92.325117px;}
.y0{bottom:1.500000px;}
.y1{bottom:1.704319px;}
.y27{bottom:199.961576px;}
.y26{bottom:210.930897px;}
.y25{bottom:221.900217px;}
.y24{bottom:232.869538px;}
.y23{bottom:243.838859px;}
.y22{bottom:254.808180px;}
.y36{bottom:265.777501px;}
.y1f{bottom:277.432404px;}
.y21{bottom:290.687000px;}
.y20{bottom:304.398651px;}
.y33{bottom:313.311225px;}
.y32{bottom:337.763669px;}
.y1e{bottom:342.105692px;}
.y1d{bottom:353.075013px;}
.y1c{bottom:364.044334px;}
.y31{bottom:366.101081px;}
.y1b{bottom:375.013655px;}
.y1a{bottom:385.982975px;}
.y35{bottom:396.952296px;}
.y30{bottom:403.579594px;}
.y17{bottom:408.607200px;}
.y19{bottom:421.861796px;}
.y2f{bottom:424.375598px;}
.y18{bottom:435.573447px;}
.y2e{bottom:445.171603px;}
.y16{bottom:460.482946px;}
.y2d{bottom:465.967607px;}
.y2c{bottom:488.591831px;}
.y15{bottom:513.501331px;}
.y14{bottom:528.355619px;}
.y2b{bottom:532.240587px;}
.y13{bottom:539.324940px;}
.y12{bottom:554.179229px;}
.y2a{bottom:556.693031px;}
.y11{bottom:565.148550px;}
.y10{bottom:580.002838px;}
.yf{bottom:590.972159px;}
.ye{bottom:605.826448px;}
.y34{bottom:616.795769px;}
.y29{bottom:627.308034px;}
.yb{bottom:628.450672px;}
.yd{bottom:641.705268px;}
.y28{bottom:652.903117px;}
.yc{bottom:655.416919px;}
.ya{bottom:680.326419px;}
.y9{bottom:705.921501px;}
.y8{bottom:734.715968px;}
.y7{bottom:753.455224px;}
.y6{bottom:772.194481px;}
.y3{bottom:775.622394px;}
.y5{bottom:790.933737px;}
.y2{bottom:792.990485px;}
.y4{bottom:809.672994px;}
.h5{height:25.057685px;}
.h6{height:27.921421px;}
.h9{height:31.501090px;}
.h8{height:37.589652px;}
.h4{height:37.944495px;}
.h7{height:43.263562px;}
.h3{height:72.309320px;}
.h2{height:840.295681px;}
.h1{height:840.500000px;}
.h0{height:842.000000px;}
.w1{width:594.857128px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x7{left:24.909499px;}
.x8{left:33.822073px;}
.xa{left:49.590471px;}
.x1{left:133.688598px;}
.xb{left:195.619555px;}
.x9{left:243.381807px;}
.xc{left:327.251406px;}
.xd{left:334.107231px;}
.x5{left:404.722234px;}
.x2{left:458.654729px;}
.x4{left:487.906251px;}
.x6{left:489.962999px;}
.x3{left:494.305022px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-5.662912pt;}
._1{margin-left:-1.915975pt;}
._0{width:1.344504pt;}
._2{width:4.035339pt;}
._4{width:100.006080pt;}
._5{width:108.217987pt;}
.fs2{font-size:42.658470pt;}
.fs3{font-size:47.533724pt;}
.fs5{font-size:53.627791pt;}
.fs1{font-size:64.597112pt;}
.fs4{font-size:74.347619pt;}
.fs0{font-size:123.100156pt;}
.y0{bottom:2.000000pt;}
.y1{bottom:2.272425pt;}
.y27{bottom:266.615434pt;}
.y26{bottom:281.241195pt;}
.y25{bottom:295.866957pt;}
.y24{bottom:310.492718pt;}
.y23{bottom:325.118479pt;}
.y22{bottom:339.744240pt;}
.y36{bottom:354.370001pt;}
.y1f{bottom:369.909872pt;}
.y21{bottom:387.582667pt;}
.y20{bottom:405.864869pt;}
.y33{bottom:417.748300pt;}
.y32{bottom:450.351559pt;}
.y1e{bottom:456.140923pt;}
.y1d{bottom:470.766684pt;}
.y1c{bottom:485.392445pt;}
.y31{bottom:488.134775pt;}
.y1b{bottom:500.018206pt;}
.y1a{bottom:514.643967pt;}
.y35{bottom:529.269728pt;}
.y30{bottom:538.106126pt;}
.y17{bottom:544.809600pt;}
.y19{bottom:562.482394pt;}
.y2f{bottom:565.834131pt;}
.y18{bottom:580.764596pt;}
.y2e{bottom:593.562137pt;}
.y16{bottom:613.977262pt;}
.y2d{bottom:621.290142pt;}
.y2c{bottom:651.455775pt;}
.y15{bottom:684.668441pt;}
.y14{bottom:704.474159pt;}
.y2b{bottom:709.654116pt;}
.y13{bottom:719.099920pt;}
.y12{bottom:738.905638pt;}
.y2a{bottom:742.257375pt;}
.y11{bottom:753.531399pt;}
.y10{bottom:773.337118pt;}
.yf{bottom:787.962879pt;}
.ye{bottom:807.768597pt;}
.y34{bottom:822.394358pt;}
.y29{bottom:836.410713pt;}
.yb{bottom:837.934229pt;}
.yd{bottom:855.607024pt;}
.y28{bottom:870.537489pt;}
.yc{bottom:873.889226pt;}
.ya{bottom:907.101892pt;}
.y9{bottom:941.228668pt;}
.y8{bottom:979.621291pt;}
.y7{bottom:1004.606966pt;}
.y6{bottom:1029.592641pt;}
.y3{bottom:1034.163192pt;}
.y5{bottom:1054.578317pt;}
.y2{bottom:1057.320647pt;}
.y4{bottom:1079.563992pt;}
.h5{height:33.410247pt;}
.h6{height:37.228561pt;}
.h9{height:42.001453pt;}
.h8{height:50.119536pt;}
.h4{height:50.592660pt;}
.h7{height:57.684749pt;}
.h3{height:96.412427pt;}
.h2{height:1120.394242pt;}
.h1{height:1120.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:793.142837pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x7{left:33.212666pt;}
.x8{left:45.096097pt;}
.xa{left:66.120629pt;}
.x1{left:178.251464pt;}
.xb{left:260.826074pt;}
.x9{left:324.509076pt;}
.xc{left:436.335208pt;}
.xd{left:445.476309pt;}
.x5{left:539.629646pt;}
.x2{left:611.539638pt;}
.x4{left:650.541668pt;}
.x6{left:653.283998pt;}
.x3{left:659.073362pt;}
}
